
.carousel-item{
    height: 32rem;
    background-color: black;
    color: white;


}

.container-slide{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    width:100%;
    height:100%;
    text-align: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-overlay{

    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    opacity: .55;

}
