<!DOCTYPE html>
<html lang="en" >
    <head>
      <meta charset="UTF-8">
      <title>404 Page Not Found</title>
      <link rel="stylesheet" href="/static/css/error-style.css">

    </head>

    <head>
      <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="mainbox">
            <div class="err">4</div>
            <i class="far fa-question-circle fa-spin"></i>
            <div class="err2">4</div>
            <div class="msg">Maybe I need to read my own web dev articles...<p>Let's go back <a href="/home">home!</a> </p></div>
        </div>
    </body>

</html>