{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
            <div class="card rounded shadow-lg" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/post-bg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Make Snake!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form method="post">
                        <input class="btn btn-primary" type="submit" name="view" value="snake">
                    </form>
                </div>
            </div>
            </div>

            <div class="col">
            <div class="card rounded shadow-lg" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/post-bg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Make Chess!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form method="post">
                        <input class="btn btn-primary" type="submit" name="view" value="chess">
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card rounded shadow-lg" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/post-bg.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Make Backgammon!</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form method="post">
                        <input class="btn btn-primary" type="submit" name="view" value="backgammon">
                    </form>
                </div>
            </div>
        </div>
        </div>
        <hr/>
    </div>

{% endblock %}




